dotenv_if_exists "${PWD}/workspace/dg-workspace/.env"

use flake .

source "${PWD}/workspace/dg-workspace/.venv/bin/activate"

export DAGSTER_HOME="${PWD}/data/dagster_home"
export PYTHONPATH="${PYTHONPATH}:${PWD}/workspace/dg-workspace/src"
export DLT_DATA_DIR="${PWD}/data/dlt"
export DUCKDB_DATABASE="${PWD}/data/weather.db"
